name: All Specs

on: [push, pull_request, workflow_dispatch]

jobs:
  specs:
    name: CI
    runs-on: ubuntu-latest
    continue-on-error: true
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
    strategy:
      matrix:
        suite: [cucumber, rspec]
    env:
      DB_USER: postgres
      TZ: America/Los_Angeles
      RAILS_ENV: test
      RUBY_ENV: test
      DISPLAY: ':99' # For chromedriver
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.17.0'
      - name: Use Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.3
          bundler-cache: true
          
      - run: bin/yarn
      - run: bin/rails webpacker:compile
      - run: bundle exec rake db:setup
      - run: bundle exec rake db:migrate
      - name: Run ${{ matrix.suite }}
        run: bundle exec ${{ matrix.suite }}
        continue-on-error: true

      - name: CodeCov Coverage
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload coverage to Qlty
        uses: qltysh/qlty-action/coverage@v2
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: coverage/.resultset.json
